<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>ABNORMAL</string>
		<string>ABS</string>
		<string>ACOS</string>
		<string>ACOSF</string>
		<string>ADD</string>
		<string>ADDBUFF</string>
		<string>ADDR</string>
		<string>ADDRDATA</string>
		<string>ALIAS</string>
		<string>ALIGNED</string>
		<string>ALL</string>
		<string>ALLOC</string>
		<string>ALLOCATE</string>
		<string>ALLOCATION</string>
		<string>ALLOCN</string>
		<string>ALLOCSIZE</string>
		<string>ANY</string>
		<string>ANYCONDITION</string>
		<string>AREA</string>
		<string>ASCII</string>
		<string>ASIN</string>
		<string>ASINF</string>
		<string>ASM</string>
		<string>ASMTDLI</string>
		<string>ASSEMBLER</string>
		<string>ASSIGNABLE</string>
		<string>ATAN</string>
		<string>ATAND</string>
		<string>ATANF</string>
		<string>ATANH</string>
		<string>ATTENTION</string>
		<string>ATTN</string>
		<string>AUTO</string>
		<string>AUTOMATIC</string>
		<string>AVAILABLEAREA</string>
		<string>BACKWARDS</string>
		<string>BASED</string>
		<string>BEGIN</string>
		<string>BIGENDIAN</string>
		<string>BIN</string>
		<string>BINARY</string>
		<string>BINARYVALUE</string>
		<string>BIND</string>
		<string>BINVALUE</string>
		<string>BIT</string>
		<string>BITLOCATION</string>
		<string>BKWD</string>
		<string>BLKSIZE</string>
		<string>BOOL</string>
		<string>BUF</string>
		<string>BUFFERED</string>
		<string>BUFFERS</string>
		<string>BUFND</string>
		<string>BUFNI</string>
		<string>BUFOFF</string>
		<string>BUFSP</string>
		<string>BUILTIN</string>
		<string>BX</string>
		<string>BY</string>
		<string>BYADDR</string>
		<string>BYTE</string>
		<string>BYVALUE</string>
		<string>B4</string>
		<string>CALL</string>
		<string>CAST</string>
		<string>CDS</string>
		<string>CEIL</string>
		<string>CENTERLEFT</string>
		<string>CENTERRIGHT</string>
		<string>CENTRELEFT</string>
		<string>CENTRERIGHT</string>
		<string>CHAR</string>
		<string>CHARACTER</string>
		<string>CHARG</string>
		<string>CHARGRAPHIC</string>
		<string>CHARVAL</string>
		<string>CHECK</string>
		<string>CHECKSTG</string>
		<string>CLOSE</string>
		<string>CMPAT</string>
		<string>COBOL</string>
		<string>COL</string>
		<string>COLLATE</string>
		<string>COLUMN</string>
		<string>COMMENT</string>
		<string>COMPARE</string>
		<string>COMPILEDATE</string>
		<string>COMPILETIME</string>
		<string>COMPLETION</string>
		<string>COMPLEX</string>
		<string>COND</string>
		<string>CONDITION</string>
		<string>CONJG</string>
		<string>CONN</string>
		<string>CONNECTED</string>
		<string>CONSECUTIVE</string>
		<string>CONTROLLED</string>
		<string>CONV</string>
		<string>CONVERSION</string>
		<string>COPY</string>
		<string>COS</string>
		<string>COSD</string>
		<string>COSF</string>
		<string>COSH</string>
		<string>COUNT</string>
		<string>COUNTER</string>
		<string>CPLN</string>
		<string>CPLX</string>
		<string>CS</string>
		<string>CSTG</string>
		<string>CTL</string>
		<string>CTLASA</string>
		<string>CTL360</string>
		<string>CURRENTSIZE</string>
		<string>CURRENTSTORAGE</string>
		<string>DATA</string>
		<string>DATAFIELD</string>
		<string>DATE</string>
		<string>DATETIME</string>
		<string>DAYS</string>
		<string>DAYSTODATE</string>
		<string>DAYSTOSECS</string>
		<string>DB</string>
		<string>DCL</string>
		<string>DEC</string>
		<string>DECIMAL</string>
		<string>DECLARE</string>
		<string>DEF</string>
		<string>DEFAULT</string>
		<string>DEFINE</string>
		<string>DEFINED</string>
		<string>DELAY</string>
		<string>DELETE</string>
		<string>DESCRIPTOR</string>
		<string>DESCRIPTORS</string>
		<string>DFT</string>
		<string>DIM</string>
		<string>DIMENSION</string>
		<string>DIRECT</string>
		<string>DISPLAY</string>
		<string>DIVIDE</string>
		<string>DO</string>
		<string>DOWNTHRU</string>
		<string>EDIT</string>
		<string>ELSE</string>
		<string>EMPTY</string>
		<string>END</string>
		<string>ENDFILE</string>
		<string>ENDPAGE</string>
		<string>ENTRY</string>
		<string>ENTRYADDR</string>
		<string>ENV</string>
		<string>ENVIRONMENT</string>
		<string>EPSILON</string>
		<string>ERF</string>
		<string>ERFC</string>
		<string>ERROR</string>
		<string>EVENT</string>
		<string>EXCL</string>
		<string>EXCLUSIVE</string>
		<string>EXIT</string>
		<string>EXP</string>
		<string>EXPF</string>
		<string>EXPONENT</string>
		<string>EXPORTS</string>
		<string>EXT</string>
		<string>EXTERNAL</string>
		<string>FB</string>
		<string>FBS</string>
		<string>FETCH</string>
		<string>FILE</string>
		<string>FILEDDINT</string>
		<string>FILEDDTEST</string>
		<string>FILEDDWORD</string>
		<string>FILEID</string>
		<string>FILEOPEN</string>
		<string>FILEREAD</string>
		<string>FILESEEK</string>
		<string>FILETELL</string>
		<string>FILEWRITE</string>
		<string>FINISH</string>
		<string>FIRST</string>
		<string>FILETELL</string>
		<string>FILEWRITE</string>
		<string>FINISH</string>
		<string>FIRST</string>
		<string>FIXED</string>
		<string>FIXEDOVERFLOW</string>
		<string>FLOAT</string>
		<string>FLOOR</string>
		<string>FLUSH</string>
		<string>FOFL</string>
		<string>FORMAT</string>
		<string>FORTRAN</string>
		<string>FREE</string>
		<string>FROM</string>
		<string>FROMALIEN</string>
		<string>FS</string>
		<string>GAMMA</string>
		<string>GENERIC</string>
		<string>GENKEY</string>
		<string>GET</string>
		<string>GETENV</string>
		<string>GO</string>
		<string>GOTO</string>
		<string>GRAPHIC</string>
		<string>GX</string>
		<string>HANDLE</string>
		<string>HBOUND</string>
		<string>HEX</string>
		<string>HEXADEC</string>
		<string>HEXIMAGE</string>
		<string>HIGH</string>
		<string>HUGE</string>
		<string>IAND</string>
		<string>IEEE</string>
		<string>IEOR</string>
		<string>IF</string>
		<string>IGNORE</string>
		<string>IMAG</string>
		<string>IN</string>
		<string>INDEX</string>
		<string>INDEXAREA</string>
		<string>INDEXED</string>
		<string>INIT</string>
		<string>INITIAL</string>
		<string>INLINE</string>
		<string>INOT</string>
		<string>INPUT</string>
		<string>INT</string>
		<string>INTER</string>
		<string>INTERNAL</string>
		<string>INTO</string>
		<string>IOR</string>
		<string>IRRED</string>
		<string>IRREDUCIBLE</string>
		<string>ISIGNED</string>
		<string>ISLL</string>
		<string>ISMAIN</string>
		<string>ISRL</string>
		<string>IUNSIGNED</string>
		<string>KEY</string>
		<string>KEYED</string>
		<string>KEYFROM</string>
		<string>KEYLENGTH</string>
		<string>KEYLOC</string>
		<string>KEYTO</string>
		<string>LABEL</string>
		<string>LAST</string>
		<string>LBOUND</string>
		<string>LEAVE</string>
		<string>LEFT</string>
		<string>LENGTH</string>
		<string>LIKE</string>
		<string>LIMITED</string>
		<string>LINE</string>
		<string>LINENO</string>
		<string>LINESIZE</string>
		<string>LINKAGE</string>
		<string>LIST</string>
		<string>LITTLEENDIAN</string>
		<string>LOCATE</string>
		<string>LOCATION</string>
		<string>LOG</string>
		<string>LOGF</string>
		<string>LOGGAMMA</string>
		<string>LOG10</string>
		<string>LOG10F</string>
		<string>LOG2</string>
		<string>LOW</string>
		<string>LOWERCASE</string>
		<string>LOWER2</string>
		<string>MACCOL</string>
		<string>MACLMAR</string>
		<string>MACNAME</string>
		<string>MACRMAR</string>
		<string>MAIN</string>
		<string>MAX</string>
		<string>MAXEXP</string>
		<string>MAXLENGTH</string>
		<string>MEMINDEX</string>
		<string>MEMSEARCH</string>
		<string>MEMVERIFY</string>
		<string>MEMVERIFYR</string>
		<string>MESEARCHR</string>
		<string>MIN</string>
		<string>MINEXP</string>
		<string>MOD</string>
		<string>MPSTR</string>
		<string>MULTIPLY</string>
		<string>NAME</string>
		<string>NATIVE</string>
		<string>NCP</string>
		<string>NEW</string>
		<string>NOCHARG</string>
		<string>NOCHARGRAPHIC</string>
		<string>NOCHECK</string>
		<string>NOCMPAT</string>
		<string>NOCONV</string>
		<string>NOCONVERSION</string>
		<string>NODESCRIPTOR</string>
		<string>NOEXECOPS</string>
		<string>NOFIXEDOVERFLOW</string>
		<string>NOFOFL</string>
		<string>NOINLINE</string>
		<string>NOLOCK</string>
		<string>NOMAP</string>
		<string>NOMAPIN</string>
		<string>NOMAPOUT</string>
		<string>NONASSIGNABLE</string>
		<string>NONCONNECTED</string>
		<string>NONNATIVE</string>
		<string>NOOFL</string>
		<string>NOOVERFLOW</string>
		<string>NORESCAN</string>
		<string>NORMAL</string>
		<string>NOSIZE</string>
		<string>NOSTRG</string>
		<string>NOSTRINGRANGE</string>
		<string>NOSTRINGSIZE</string>
		<string>NOSTRZ</string>
		<string>NOSUBRG</string>
		<string>NOSUBSCRIPTRANGE</string>
		<string>NOUFL</string>
		<string>NOUNDERFLOW</string>
		<string>NOWRITE</string>
		<string>NOZDIV</string>
		<string>NOZERODIVIDE</string>
		<string>NULL</string>
		<string>OFFSET</string>
		<string>OFFSETADD</string>
		<string>OFFSETDIFF</string>
		<string>OFFSETSUBTRACT</string>
		<string>OFFSETVALUE</string>
		<string>OFL</string>
		<string>OMITTED</string>
		<string>ON</string>
		<string>ONCHAR</string>
		<string>ONCODE</string>
		<string>ONCONDCOND</string>
		<string>ONCONDID</string>
		<string>ONCOUNT</string>
		<string>ONFILE</string>
		<string>ONGSOURCE</string>
		<string>ONKEY</string>
		<string>ONLOC</string>
		<string>ONSOURCE</string>
		<string>ONSUBCODE</string>
		<string>ONWCHAR</string>
		<string>ONWSOURCE</string>
		<string>OPEN</string>
		<string>OPTIONAL</string>
		<string>OPTIONS</string>
		<string>ORDER</string>
		<string>ORDINAL</string>
		<string>ORDINALNAME</string>
		<string>ORDINALPRED</string>
		<string>ORDINALSUCC</string>
		<string>OTHER</string>
		<string>OTHERWISE</string>
		<string>OUTPUT</string>
		<string>OVERFLOW</string>
		<string>PACKAGE</string>
		<string>PACKAGENAME</string>
		<string>PAGE</string>
		<string>PAGENO</string>
		<string>PAGESIZE</string>
		<string>PARAMETER</string>
		<string>PARMSET</string>
		<string>PASSWORD</string>
		<string>PENDING</string>
		<string>PIC</string>
		<string>PICTURE</string>
		<string>PLACES</string>
		<string>PLIASCII</string>
		<string>PLICANC</string>
		<string>PLICKPT</string>
		<string>PLIDELETE</string>
		<string>PLIASCII</string>
		<string>PLICANC</string>
		<string>PLICKPT</string>
		<string>PLIDELETE</string>
		<string>PLIDUMP</string>
		<string>PLIEBCDIC</string>
		<string>PLIFILL</string>
		<string>PLIFREE</string>
		<string>PLIMOVE</string>
		<string>PLIOVER</string>
		<string>PLIREST</string>
		<string>PLIRETC</string>
		<string>PLIRETV</string>
		<string>PLISAXA</string>
		<string>PLISAXB</string>
		<string>PLISRTA</string>
		<string>PLISRTB</string>
		<string>PLISRTC</string>
		<string>PLISRTD</string>
		<string>PLITDLI</string>
		<string>POINTER</string>
		<string>POINTERADD</string>
		<string>POINTERDIFF</string>
		<string>POINTERSUBTRACT</string>
		<string>POINTERVALUE</string>
		<string>POLY</string>
		<string>POS</string>
		<string>POSITION</string>
		<string>PREC</string>
		<string>PRECISION</string>
		<string>PRED</string>
		<string>PRESENT</string>
		<string>PRINT</string>
		<string>PRIORITY</string>
		<string>PROC</string>
		<string>PROCEDURE</string>
		<string>PROCEDURENAME</string>
		<string>PROD</string>
		<string>PTR</string>
		<string>PTRADD</string>
		<string>PTRVALUE</string>
		<string>PUT</string>
		<string>PUTENV</string>
		<string>QUOTE</string>
		<string>RADIX</string>
		<string>RAISE2</string>
		<string>RANDOM</string>
		<string>RANGE</string>
		<string>RANK</string>
		<string>READ</string>
		<string>REAL</string>
		<string>RECORD</string>
		<string>RECSIZE</string>
		<string>RECURSIVE</string>
		<string>RED</string>
		<string>REDUCIBLE</string>
		<string>REENTRANT</string>
		<string>REFER</string>
		<string>REGIONAL</string>
		<string>RELEASE</string>
		<string>REM</string>
		<string>REORDER</string>
		<string>REPATTERN</string>
		<string>REPEAT</string>
		<string>REPLACEBY2</string>
		<string>REPLY</string>
		<string>REREAD</string>
		<string>RESCAN</string>
		<string>RESERVED</string>
		<string>RESERVES</string>
		<string>RESIGNAL</string>
		<string>RESPEC</string>
		<string>RETCODE</string>
		<string>RETURN</string>
		<string>RETURNS</string>
		<string>REUSE</string>
		<string>REVERSE</string>
		<string>REVERT</string>
		<string>REWRITE</string>
		<string>RIGHT</string>
		<string>ROUND</string>
		<string>SAMEKEY</string>
		<string>SCALARVARYING</string>
		<string>SCALE</string>
		<string>SEARCH</string>
		<string>SEARCHR</string>
		<string>SECS</string>
		<string>SECSTODATE</string>
		<string>SECSTODAYS</string>
		<string>SELECT</string>
		<string>SEQL</string>
		<string>SEQUENTIAL</string>
		<string>SERIALIZE4</string>
		<string>SET</string>
		<string>SIGN</string>
		<string>SIGNAL</string>
		<string>SIGNED</string>
		<string>SIN</string>
		<string>SIND</string>
		<string>SINF</string>
		<string>SINH</string>
		<string>SIS</string>
		<string>SIZE</string>
		<string>SKIP</string>
		<string>SNAP</string>
		<string>SOURCEFILE</string>
		<string>SOURCELINE</string>
		<string>SQRT</string>
		<string>SQRTF</string>
		<string>STATEMENT</string>
		<string>STATIC</string>
		<string>STATUS</string>
		<string>STG</string>
		<string>STMT</string>
		<string>STOP</string>
		<string>STORAGE</string>
		<string>STREAM</string>
		<string>STRG</string>
		<string>STRING</string>
		<string>STRINGRANGE</string>
		<string>STRINGSIZE</string>
		<string>STRUCTURE</string>
		<string>STRZ</string>
		<string>SUBRG</string>
		<string>SUBSCRIPTRANGE</string>
		<string>SUBSTR</string>
		<string>SUBTRACT</string>
		<string>SUCC</string>
		<string>SUM</string>
		<string>SYSIN</string>
		<string>SYSNULL</string>
		<string>SYSPARM</string>
		<string>SYSPRINT</string>
		<string>SYSTEM</string>
		<string>SYSVERSION</string>
		<string>TALLY</string>
		<string>TAN</string>
		<string>TAND</string>
		<string>TANF</string>
		<string>TANH</string>
		<string>TASK</string>
		<string>THEN</string>
		<string>THREADID</string>
		<string>TIME</string>
		<string>TINY</string>
		<string>TITLE</string>
		<string>TO</string>
		<string>TOTAL</string>
		<string>TPK</string>
		<string>TPM</string>
		<string>TRANSIENT</string>
		<string>TRANSLATE</string>
		<string>TRANSMIT</string>
		<string>TRIM</string>
		<string>TRKOFL</string>
		<string>TRUNC</string>
		<string>TYPE</string>
		<string>UFL</string>
		<string>UNAL</string>
		<string>UNALIGNED</string>
		<string>UNALLOCATED</string>
		<string>UNBUF</string>
		<string>UNBUFFERED</string>
		<string>UNDEFINEDFILE</string>
		<string>UNDERFLOW</string>
		<string>UNDF</string>
		<string>UNLOCK</string>
		<string>UNSIGNED</string>
		<string>UNSPEC</string>
		<string>UNTIL</string>
		<string>UPDATE</string>
		<string>UPPERCASE</string>
		<string>UPTHRU</string>
		<string>VALID</string>
		<string>VALIDDATE</string>
		<string>VALUE</string>
		<string>VAR</string>
		<string>VARGLIST</string>
		<string>VARGSIZE</string>
		<string>VARIABLE</string>
		<string>VARYING</string>
		<string>VARYINGZ</string>
		<string>VB</string>
		<string>VBS</string>
		<string>VERIFY</string>
		<string>VERIFYR</string>
		<string>VS</string>
		<string>VSAM</string>
		<string>WAIT</string>
		<string>WCHAR</string>
		<string>WCHARVAL</string>
		<string>WEEKDAY</string>
		<string>WHEN</string>
		<string>WHIGH</string>
		<string>WHILE</string>
		<string>WIDECHAR</string>
		<string>WHEN</string>
		<string>WHIGH</string>
		<string>WHILE</string>
		<string>WIDECHAR</string>
		<string>WLOW</string>
		<string>WRITE</string>
		<string>XMLCHAR</string>
		<string>Y4DATE</string>
		<string>Y4JULIAN</string>
		<string>Y4YEAR</string>
		<string>ZDIV</string>
		<string>ZERODIVIDE</string>
		<string>%INCLUDE</string>
		<string>%DECLARE</string>
		<string>%DCL</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>PL/1</string>
	<key>BBLMLanguageDisplayName</key>
	<string>PL/1</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>pli</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>pl1</string>
		</dict>
	</array>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string>*/</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Close Statement Blocks</key>
		<string>END</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 2</key>
		<string>&apos;</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string></string>
		<key>Escape Char in Strings 2</key>
		<string></string>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
		<key>Open Block Comments</key>
		<string>/*</string>
		<key>Open Line Comments</key>
		<string></string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Open Statement Blocks</key>
		<string>DO;</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Open Strings 2</key>
		<string>&apos;</string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
		<key>Function Pattern</key>
		<string>^[01 ](?P&lt;function&gt;(?P&lt;function_name&gt;[A-Za-z0-9_]+): PROCEDURE((?!MAIN).)*;(?s:.*)END\s+(?P=function_name);)</string>
	</dict>
</dict>
</plist>
